<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <!--Navbar-->
    <%- include('./partials/nav.ejs')%>
        <!--Navbar end-->

        <div class="about content">
            <hr class="border border-danger border-2 opacity-50">
            <h1>About Us</h1>
            <hr class="border border-danger border-2 opacity-50">
            <br />
            <p class="lh-1">This is a long paragraph written to show how the line-height of an element is affected by
                our
                utilities. Classes are applied to the element itself or sometimes the parent element. These classes can
                be
                customized as needed with our utility API.</p>
            <p class="lh-sm">This is a long paragraph written to show how the line-height of an element is affected by
                our
                utilities. Classes are applied to the element itself or sometimes the parent element. These classes can
                be
                customized as needed with our utility API.</p>
            <p class="lh-base">This is a long paragraph written to show how the line-height of an element is affected by
                our
                utilities. Classes are applied to the element itself or sometimes the parent element. These classes can
                be
                customized as needed with our utility API.</p>
            <p class="lh-lg">This is a long paragraph written to show how the line-height of an element is affected by
                our
                utilities. Classes are applied to the element itself or sometimes the parent element. These classes can
                be
                customized as needed with our utility API.</p>
            <p class="text-start">Start aligned text on all viewport sizes.</p>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
            <p class="text-end">End aligned text on all viewport sizes.</p>

            <p class="text-sm-end">End aligned text on viewports sized SM (small) or wider.</p>
            <p class="text-md-end">End aligned text on viewports sized MD (medium) or wider.</p>
            <p class="text-lg-end">End aligned text on viewports sized LG (large) or wider.</p>
            <p class="text-xl-end">End aligned text on viewports sized XL (extra large) or wider.</p>
            <p class="text-xxl-end">End aligned text on viewports sized XXL (extra extra large) or wider.</p>

        </div>
        <!--footer-->
        <%- include('./partials/footer.ejs')%>
            <!--footer end-->
</body>

</html>